body {
  background: black;
  min-height: 100%vh;
}

.size {
  font-size: 2em;
  overflow: hidden;
  height: 1100px;
}

.colby {
  color: #f36a23;
  position: relative;
  margin: auto auto;
  bottom: -10rem;
  transition: bottom 4s ease-in-out;
  transition-delay: 1s;
  text-align: center;
  overflow: hidden;
}

.is {
  color: yellow;
  position: relative;
  margin: auto auto;
  bottom: -1000px;
  transition: bottom 4s ease-in-out;
  transition-delay: 1.5s;
  text-align: center;
  overflow: hidden;
}

.fab {
  color: pink;
  position: relative;
  margin: auto auto;
  bottom: -2000px;
  transition: bottom 4s ease-in-out;
  transition-delay: 1s;
  text-align: center;
  overflow: hidden;
}

.size:hover .colby {
  bottom: 2000px;
}

.size:hover .is {
  bottom: 2000px;
}

.size:hover .fab {
  bottom: 0px;
  animation: color 2s infinite;
}

@keyframes color {
  0% {
    color: pink;
  }
  10% {
    color: #ff00b3;
  }
  20% {
    color: #cc00ff;
  }
  30% {
    color: #8c00ff;
  }
  40% {
    color: #3700ff;
  }
  50% {
    color: #0099ff;
  }
  60% {
    color: #00ffb3;
  }
  70% {
    color: #00ff40;
  }
  80% {
    color: #5eff00;
  }
  90% {
    color: #e5ff00;
  }
  100% {
    color: #ff9100;
  }
}
